# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# typescript
*.tsbuildinfo
next-env.d.ts

# env
.env
.env*.local

# prisma / sqlite
/prisma/dev.db
/prisma/dev.db-journal
/dev.db
/dev.db-journal
